<!DOCTYPE html>
<html>
<head>
    <title>Fuel-Scout Registration
    </title>
    <link rel="stylesheet" href="../css/styleRegister.css" type = "text/css">
</head>

<body>
    <h1 class="title"> Coordinates Form</h1>

    <h3 class="latitude-start"> 
        Start location latitude
        <input type="text" placeholder=" " />   
    </h3>
    <h3 class="longitude-start">
        Start location longitude
        <input type="text" placeholder=" " />
    </h3>
    <h3 class="latitude-end">
        End location latitude
        <input type="text" placeholder=" " />
    </h3>
    <h3 class="longitude-end">
        End location longitude
        <input type="text" placeholder=" " />
    </h3>

    <button class="button" onclick="">Submit</button>
</body>
</html>