<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel-Scout</title>
    <link rel="stylesheet" href="../css/style.css" type = text/css>
</head>
<body>

    <div class="menu-bar">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="dropdown-menu" id="dropdownMenu">
        <a href="#view-routes">View Routes</a>
        <a href="#price-calculator">Price Calculator</a>
    </div>
    <div class="container">
        <h1>Welcome to Fuel-Scout</h1>
        <div class="start-button">
            <button>Start Route</button>
        </div>
    </div>
    <script>
        function menuToggle() {
            var menu = document.getElementById('dropdownMenu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        }
    </script>
</body>
</html>