<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel-Scout</title>
    <link rel="stylesheet" href="../static/styleHome.css" type = "text/css">
</head>
<body>

    <!-- menu section calls certain javascript functions depending on button clicked -->
    
    <div class="dropdown-menu" id="dropdownMenu">
        <div class="button-container"> 
            <button onclick="goToRegistration()"> Sign Up</button>
            <button onclick="goToLogIn()"> Log in</button>
        </div>
    </div>
    <!-- This is the button located at center of home page, which goes straight to sign-up page if clicked -->
    <div class="container">
        <h1>Welcome to Fuel-Scout</h1>
        <div class="start-button" id="startButton">
            <button onclick="goToRegistration()">Start Route</button>
        </div>
        <img src="../static/img/road.png" alt="road" class="road-image">
    </div>
    <script>

        // render register page
        function goToRegistration() {
            window.location.href = "{{ url_for('register') }}";
        }
    </script>

<script>
    function goToLogIn() {
        // render login page
        window.location.href = "{{ url_for('login') }}";
    }
</script>

</body>
</html>