{% extends "layout.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styleRegister.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<!-- login page similar format with register page, excluding fields like confirm password -->
  <div class="registration">
    <h1 class="title">Login Portal</h1>

    <!-- Where our document makes a post request to the server, we use the POST method to submit the form data -->
    <form method="POST">
      {{ form.hidden_tag() }}

      <h3 class="username">
        {{ form.username.label }}
        {{ form.username(placeholder="") }}
        {% for err in form.username.errors %}
          <div class="error">{{ err }}</div>
        {% endfor %}
      </h3>

  

      <h3 class="password">
        {{ form.password.label }}
        {{ form.password(placeholder="") }}
        {% for err in form.password.errors %}
          <div class="error">{{ err }}</div>
        {% endfor %}
      </h3>

      <button class="button" type="submit">
        {{ form.submit.label.text }}
      </button>
    </form>
  </div>
{% endblock %}