<!DOCTYPE html>
<html>
<head>
    <title>Fuel-Scout Registration
    </title>
    <link rel="stylesheet" href="../css/styleRegister.css" type = "text/css">
</head>

    <body>
        <div class="registration">
        <h1 class="title"> Registration Portal</h1>

        <h3 class="username"> 
            Username
            <input type="text" placeholder=" " />   
        </h3>
        <h3 class="password">
            Password
            <input type="text" placeholder=" " />
        </h3>
        <h3 class="password-confirm">
            Confirm Password
            <input type="text" placeholder=" " />
        </h3>

        <button class="button" onclick="">Submit</button>
    </div>
    </body>

</html>