{% extends "layout.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styleRegister.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
  <div class="registration">
    <h1 class="title">Registration Portal</h1>

    <form method="POST">
      {{ form.hidden_tag() }}
      <!-- username field -->
      <h3 class="username">
        {{ form.username.label }}
        {{ form.username(class_="input-error" if form.username.errors else "", placeholder="") }}
        {% for err in form.username.errors %}
          <div class="error">{{ err }}</div>
        {% endfor %}
      </h3>
      <!-- email field -->
      <h3 class="username">
        {{ form.email.label }}
        {{ form.email(class_="input-error" if form.email.errors else "", placeholder="") }}
        {% for err in form.email.errors %}
          <div class="error">{{ err }}</div>
        {% endfor %}
      </h3>
      <!-- password field -->
      <h3 class="password">
        {{ form.password.label }}
        {{ form.password(class_="input-error" if form.password.errors else "", placeholder="") }}
        {% for err in form.password.errors %}
          <div class="error">{{ err }}</div>
        {% endfor %}
      </h3>
      <!-- confirm password field -->
      <h3 class="password-confirm">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class_="input-error" if form.confirm_password.errors else "", placeholder="") }}
        {% for err in form.confirm_password.errors %}
          <div class="error">{{ err }}</div>
        {% endfor %}
      </h3>
      <!-- submit button -->
      <button class="button" type="submit">
        {{ form.submit.label.text }}
      </button>
    </form>
  </div>
{% endblock %}